/* Hintergrund für Karussell, damit weiße Ränder sichtbar sind */
.carousel-inner {
    background-color: #fff;
}

.carousel-item {
  height: 400px;
}

.carousel-item img {
  max-height: 100%;
  object-fit: contain;
  margin: auto;
}